.ShoppingCartContainer {
    position: absolute;
    width: 100%;
    display: flex;
    gap: 50px;
    flex-direction: column;
    top: 25%;
}


.ShoppingCartContainer .CartContentMiddleOne {

    height: auto;
    margin-left: 40px;


}

.ShoppingCartContainer .CartContentMiddleOne #continueShop {

    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: auto;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 20px;
    background-color: #C10537;
    border: none;
    transition: background-color 400ms;

}

.ShoppingCartContainer .CartContentMiddleOne #continueShop:hover {
    background-color: #422A70;
}


.productCartItemsContain {
    height: auto;
    margin-top:  20px;
    gap : 40px;
    display: flex;
}


.productCartItemsContain #allItemsCart {
    height: auto;
    font-size: 1.2rem;
    font-weight: bolder;
    font-family: sans-serif1;
    width: 910px;

}


#allItemsCart .eachAddItem {

    display: grid;
    width: 910px;
    padding: 20px;
    border-radius: 10px;
    gap : 120px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    transition: background-color 200ms;

}

#allItemsCart .eachAddItem:hover { 
    cursor: pointer;
    background-color: rgba(121, 121, 121, 0.212);
}

.productCartItemsContain #cartTotals  {
     border :1px solid #ffffff4d;
     display: flex;
     font-family: sans-serif;
     flex-direction: column;
     gap : 20px;
     height:320px;
     padding : 10px;
     width: 300px;
     border-radius: 10px;
}

#cartTotals #cartTotItems  { 
    display: flex;
    justify-content: space-between;
}


#cartTotals #checkoutBagCart { 
    display: flex;
     gap : 10px;
     background-color: #C10537;
     color :white;
     border :none;
     height : 50px;
     cursor: pointer;
     border-radius: 5px;
     align-items: center;
     justify-content: center;
     padding  : 15px;
     width: 120px;
     transition: background-color 400ms;
}

#cartTotals #checkoutBagCart:hover { 
    background-color: #422A70;
}