.TopBar {
     position: fixed;
     width: 100%;
     background-color: #181A1B;
     z-index: 1;
     transition: transform 400ms ease;
     border-bottom: 1px solid rgba(145, 141, 141, 0.281);
}


.TopBar .navBar {

     height: 100px;
       justify-content: space-around;
     width: inherit;
     display: flex;
     align-items: center;


}


#hide {
     transform: translateY(-55%);
}


.navBar #logo {
     display: flex;
     align-items: center;
     width: 200px;
     height: 100px;

     margin-left: 50px;
}

.navBar .locationMenu {
     border-radius: 15px;
     border: 2px solid rgba(75, 75, 75, 0.678);
     display: flex;
     padding : 5px;
     justify-content: space-around;
     align-items: center;
     width: 200px;
     height: 50px;
     transition: background-color 200ms;
}

.locationMenu:hover {
     background-color: rgba(92, 109, 141, 0.253);
     cursor: pointer;
}

.navBar .inputBox {
     border: 1px solid rgba(255, 255, 255, 0.473);
     display: flex;
     align-items: center;
     justify-content: space-around;
     width: 500px;
     height: 50px;
     border-radius: 10px;

}

.inputBox input {
     width: 85%;
     border: none;
     outline: none;
     background: transparent;
     color: white;
     font-size: 1.05rem;
     height: 80%;
}

.navBar .shoppingCart {
     width: 50px;
     height: 50px;
     border: none;
     color: white;
     font-size: 1.05rem;
     background-color: rgba(138, 14, 14, 0.74);
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
     cursor: pointer;
     border-radius: 50%;
     transition: background-color 200ms;
}

.shoppingCart:hover {
     background-color: rgba(138, 14, 14, 0.589);

}


.navBar .logInButton {
     padding: 2px 10px;
     width: 100px;
     height: 40px;
     font-size: 1.02rem;
     background-color: #573B8B;
     color: white;
     font-weight: bolder;
     border-radius: 20px;
     transition: background-color 200ms;
     border: none;
}

.logInButton:hover {
     cursor: pointer;
     background-color: #573b8bb4;
}

.shoppingCart #totalItems {
     position: absolute;
     font-weight: bolder;
     right: -10px;
     top: -25px;
     padding: 2px;
     width: 25px;
     height: 25px;
     background-color: red;
     border-radius: 50%;
}


.TopBar .itemLists {

     height: 60px;
     display: flex;
     justify-content: space-around;
     align-items: center;

}

.itemLists .allCategory {
     display: flex;
     background-color: #573B8B;
     font-weight: bolder;
     font-size: 13px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     gap: 10px;
     width: 180px;
     padding: 5px;
     height: 40px;
     align-items: center;
     justify-content: center;
     transition: background-color 200ms;
     border-radius: 15px;
}

.itemLists .dropDownCategory {
     display: flex;
     flex-direction: column;
     position: absolute;
     width: 190px;
     height: 300px;
     border: 1px solid rgba(255, 255, 255, 0.164);
     top: 100%;
     background-color: #181A1B;

}

.itemLists .dropDownCategory #eachCategoryItem:hover {
     cursor: pointer;
     color: #573B8B;
}



#hoverSideBox {

     display: none;
     flex-direction: column;
     position: absolute;
     align-items: center;
     gap: 10px;
     padding: 10px;
     width: 150px;
     height: 100%;
     left: 102%;
     border: 1px solid rgba(255, 255, 255, 0.226);
     background-color: #181A1B;
}


#itemHoveredList {
     display: flex;
     flex-direction: column;
     padding: 10px;
     background-color: #181A1B;
     width: 200px;
     position: absolute;
     top: 95%;
     border-radius: 10px;
     border: 1px solid rgba(255, 255, 255, 0.226);
}

#itemHoveredList p {

     color: white;
     padding: 10px;
     width: 100%;
     transition: color 200ms, background-color 200ms;

}

#itemHoveredList p:hover {
     cursor: pointer;

     background-color: #202324;
     display: flex;
     color: #7254b6;
}

#hoverSideBox p:hover {
     color: #603fad;
}

.itemLists .dropDownCategory:hover #hoverSideBox {
     display: flex;

}




.itemLists .allCategory:hover {
     cursor: pointer;
     background-color: #573b8b9d;
}


.itemLists .items {
     display: flex;
     font-weight: bolder;
     font-size: 13px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     gap: 10px;
     width: 150px;
     padding: 5px;
     height: 40px;
     align-items: center;
     justify-content: center;
     transition: background-color 500ms;
     border-radius: 15px;
}

.itemLists .items:hover {
     cursor: pointer;
     background-color: rgba(90, 90, 90, 0.596);
}

.itemLists .items:hover #hoverSideBox {
     display: flex;
}


.bottomItems {
     position: absolute;
     width: 100%;
     display: flex;
     gap: 50px;
     flex-direction: column;
     top: 25%;

}


.bottomItems .MovingBanner {

     display: flex;
     position: relative;
     margin-top: 20px;
     width: 100%;
     object-fit: contain;
     align-items: center;
     height: 500px;
     cursor: pointer;
     transition: transform 400ms;
}

.MovingBanner #eachBanner {

     width: 100%;
     height: 100%;
     flex-shrink: 0;
     flex-grow: 0;
     overflow: hidden;
     transition: translate 300ms ease-in-out;

}


.featuredCategory {
     width: 100%;
     align-items: center;
     display: flex;
     margin-top: 10px;
     flex-direction: column;

}

.featuredCategory .featuredItems {

     display: flex;
     width: 100vh;
     align-items: center;
     justify-content: space-around;
}

.featuredCategory .featuredItems #eachItem {

     padding: 10px;
     display: flex;
     flex-direction: column;
     cursor: pointer;
     align-items: center;
     width: 150px;
     height: 200px;
}

.featuredCategory .featuredItems #eachItem div {

     transition: transform 400ms;
}

.featuredCategory .featuredItems #eachItem div:hover {

     transform: translateY(-10px);
}

.featuredCategory .featuredItems #eachItem div:hover img {
     animation: Bouncing 2s ease-in-out infinite;
     transition: transform 0.2s ease;
}


@keyframes Bouncing {
     0% {
          transform: translateY(0);
     }

     50% {
          transform: translateY(-5px);
     }

     100% {
          transform: translateY(0);
     }
}


.bottomItems .Products {

     display: flex;
     gap: 20px;
     position: relative;
     width: 100%;
}

.bottomItems .Products .FixedofferBanner {
     display: flex;
     gap: 20px;
     margin-left: 50px;
     flex-direction: column;
}

.bottomItems .Products .popularProducts {
     width: 72%;
     height: 750px;
     overflow-y: scroll;
     scrollbar-width: none;

}



.newProductsContainer {

     display: flex;
     flex-direction: column;


}

.newProductGrid {

     display: grid;
     gap: 10px;
     grid-template-columns: repeat(4, 1fr);
     height: auto;


}

.newProductGrid .eachProductList {

     width: 220px;
     flex-shrink: 0;
     background-color: #202324;
     height: 350px;
     cursor: pointer;
     border-radius: 10px;
}


.Products .salesOffers {
     position: relative;
     display: flex;
     height: 180px;
     width: auto;
     gap: 10px;

}


.Products .salesOffers .salesItemContainer {

     width: 100%;
     height: 100%;
     display: flex;
     overflow-y: hidden;
     gap: 10px;
     overflow-x: scroll;
     scroll-behavior: smooth;
     scrollbar-width: none;

}

.bottomItems .featuredProducts {
     width: auto;
}



.bottomItems .salesOff {
     display: flex;
     align-items: center;
     justify-content: space-around;
     height: 200px;
     margin-top: 30px;
     width: 100vw;
}




.upwardIcon {
     cursor: pointer;
     position: fixed;
     bottom: 50px;
     background-color: #7254b6;
     color: white;
     right: 20px;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     border: none;
     z-index: 10;

}



#close {
     display: none;

}

#visible {
     display: block;
     animation: popUpFromBottomAndScale linear 1 400ms;
     transition: transform 200ms;
}


@keyframes popUpFromBottomAndScale {

     0% {
          scale: 0.4;
          transform: translateY(90px);
     }

     50% {
          scale: 0.6;
          transform: translateY(40px);
     }

     100% {
          scale: 1;
          transform: translateY(-10px);
     }

}


#ProfileMenuItems {
     display: block;
     border: 1px solid rgba(138, 138, 138, 0.356);
     position: absolute;
     background-color: #181A1B;
     border-radius: 10px;
     width: auto;
     left: -220px;
     bottom: -265px;
     height: auto;
     color: white;


}


.profileAccountOptions {
     display: flex;
     flex-direction: column;
     border-top: 1px solid rgba(138, 138, 138, 0.356);
     gap: 15px;
     padding: 10px;
     align-items: flex-start;
     width: 100%;
     font-size: 1.2rem;
}


.profileAccountOptions span {
     width: 100%;
     padding: 5px;
     border-radius: 5px;
     cursor: pointer;
     transition: background-color linear 400ms, color 200ms;
}

.profileAccountOptions span:hover {
     background-color: #202324;
     color: #573B8B;
}


/* template for color selecting     */
hr {
     color: #4d4b4b;
}