.orderBarContainer { 
    position: absolute;
    top :25%;

}

.orderBar { 
    padding :55px;  
    height: auto;
    width: 100vw;
}

.orderBar .orderGrid { 
    display: grid;
    height: 40px;
    grid-template-columns: repeat(13 , 1fr);
}

.orderBar .orderGrid span {
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    border : 1px solid white;
}
 